/node_modules
/public/hot
/public/build
/public/storage
/bootstrap/ssr
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
google_ads_php.ini
/database/*.sqlite
