vendor
node_modules
public/build
public/hot
bootstrap/ssr
.env
.env.backup
google_ads_php.ini
database/*.sqlite
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.git
.phpunit.result.cache
